.event-list-card {
    width: 96%;
    margin: auto;
    background-color: #ffffff;  
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    cursor: pointer;
    left: 0;
    top: 0;
    transition: box-shadow .4s, left .2s, top .2s;
  }
  
  .event-list-card:hover {
    position: relative;
    top: -4px;
    left: -4px;
    box-shadow: 10px 10px 10px 1px #000000b4;
  }
  
  .title-box {
    padding-inline: 10px;
    border-top-left-radius: 6px;
    color: #ffffff;
  }
  
  .description-box {
    padding-inline: 10px;
    font-size: 20px;
  }
  
  .info-box {
    align-content: center;
    font-size: 20px;
    color: #ffffff;
    border-top-right-radius: 6px;
  }
  
  .info-box span {
    display: flex;
    justify-content: center;
  }
  
  .info-box p {
    text-align: center;
    padding-inline: 5px;
  }
  
  .info-box img {
    height: 18px;
    cursor: pointer;
  }

  .card-footer {
    grid-column: span 3;
    display: grid;
    color: black;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: fit-content(75%);
    column-gap: 10px;
    row-gap: 10px;
    font-size: 24px;
    font-weight: bold;
    padding-block: 10px;
    padding-inline: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .card-footer div {
    padding: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-wrap:break-word;
  }

  .card-footer p {
    font-size: large
  }

  .card-footer img {
    height: 40px;
    width: 40px;
    padding: 5px;
  }

  @media (max-width: 900px) {
    .card-footer {
      font-size: 22px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .card-footer img {
      height: 30px;
      width: 30px;
      padding: 1px;
    }

    .card-footer div {
      margin-block: 5px;
    }
  }